@import '../../../index.scss';

.search-bar { 
    position: relative;
    // display: flex;
    // gap: 8px;
    // justify-content: center;
    // margin: 24px  0;
}

.search-bar__input {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 12px;
}
.search-bar__input span {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar div input { 
    outline: none;
    // border: 1px solid #1f1f1f;
    border: none;
    padding: 14px 8px;
    background: $base-color-app;
    color: $base-color-text;
    width: 500px;
}

// .btn__search {
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .btn__search button {
//     padding: 8px;
//     outline: none;
//     border:none;
//     background: #111;
//     color: #fff;
//     cursor: pointer;
// }