@import "../../index.scss";

.nav-bar {
    // background: rgb(255, 70, 37);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: $base-padding-medium $base-padding-small;
}
.menu-list ul,
.settings-menu ul {
    position: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 8px 0;
    padding-inline-start: 0;
}

.menu-list ul li,
.settings-menu ul li {
    list-style-type: none;
}

.menu-list ul li span,
.settings-menu ul li span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.menu-list ul li:hover,
.settings-menu ul li:hover {
    background: #111111;
    border-radius: 8px;
    cursor: pointer;
}
.btn__search,
.btn__new,
.btn__settings,
.btn__menu,
.btn__account,
.btn__fav,
.btn__home {
    background: none;
    outline: none;
    border: none;
}

// TODO: Here goes all styles to @media queries
