@import "../../../index.scss";

.task {
    position: relative;
    margin: 8px 0;
    width: 312px;
    background: $base-color-app;
    border: 1px solid #1f1f1f;
    border-radius: 4px;
    padding: 16px;
}
.task__header {
    font-size: 24px;
    // font-family: $base-font-family-manrope;
}

.task__body {
    font-size: 16px;
}

.task__created {
    font-size: 12px;
    display: flex;
    align-items: center;
}

.task-footer { 
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.task__actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.btn-delete, .btn-favorites, .btn-pin, .btn-menu {
    outline: none;
    border: none;
    background: $base-color-app;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    margin: 0px 2px;
    cursor: pointer;

}

.btn-menu {
    // TODO ("fixed it letter')
    width: 100%;
    height: 100%;
}




.btn-favorites:hover, .btn-pin:hover, .btn-menu:hover {
    background: #111;
    border-radius: 4px;
}

.btn-delete:hover {
    background-color: rgb(97, 33, 23);
    border-radius: 100%;
}
.task-header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    // margin-bottom: 8px;
}

.dropdown-menu {
    position: absolute;
    overflow: hidden;
    z-index: 1000;
    right: 16px;
}
.completed { 
    background: #111;
    text-decoration:line-through;
}



/* TODO ('implemente media queries here to show in other screens by now, we display the [tasks] in 
        four columns.
*/
