@import "../../../index.scss";

.user-details {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 0 2rem; //base margin
    .perfil {
        position: relative;
        width: 36px;
        height: 36px;
        background-color: #aaa;
        border-radius: 50%;
    }
    .perfil::after {
        position: absolute;
        display: inline-block;
        content: "";
        width: 16px;
        height: 16px;
        background: green;
        border-radius: 50%;
        border: 2px solid $base-color-app;

        bottom: -2px;
        right: -2px;
    }

    .info-perfil {
        display: flex;
        flex-direction: column;
    }
}