ul.tasks-list {
        position: relative;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        // grid-auto-flow: dense;
        gap: 1rem; // standar separation
        justify-items: center;
        align-items: center;
    }

/* TODO ('implemente media queries here to show in other screens by now, we display the [tasks] in 
        four columns.
*/
