/*
* This entry CSS file es responsible save and store all main styles 
* for the application.
*/


// Base fonts families
$base-font-family-inter: "Inter";
$base-font-family-sans: sans-serif;
$base-font-family-serif: serif;
$base-font-family-code: monospace;
$base-font-family-poppins: "Poppins";
$base-font-family-manrope: "Manrope";

$base-font-size: 1rem;
$base-font-height: 1.5;

$base-font-family: $base-font-family-inter;

// Base colors
$base-color-app: #000000;
$base-color-text: #fffdfd;
$base-border-color: #1f1f1f;


// Base sizes
$base-padding-small: 16px;
$base-padding-medium: 24px;
// Base
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%; // This is the way to set the completly screen.
    height: 100vh;
    font-family: $base-font-family-poppins, $base-font-family-inter, $base-font-family-serif, $base-font-family-sans;
    background: $base-color-app;
    color: #fff;
   
}



